<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Add New Flights</title>
</head>
<body>
        <h2>Flight Itinerary</h2>
        <form action="/flights" method="POST">
          <label>Airports
            <select name="airports">
                <option value="AUS">AUS</option>
                <option value="DAL">DAL</option>
                <option value="LAX">LAX</option>
                <option value="SEA">SEA</option>
            </select>
        </label><br>
            <label>Airlines
                <select name="airlines">
                    <option value="American">American</option>
                    <option value="Southwest">Southwest</option>
                    <option value="United">United</option>
                </select>
            </label><br>
            <label>Departure:
              <input type="date" name="departs">
            </label><br>
            <label>Flight No.:
              <input type="number" name="flightNo">
            </label><br>
            <input type="submit" value="Add Flight">
        </form>
    
</body>
</html>